!.gitkeep

.bash_history

# folders
.cache
.dotnet
.gnupg
.local
.pki
.ssh
.vscode

.icons/*/*

.config/chromium
.config/Code
.config/dconf
.config/font-manager
.config/fontconfig
.config/go
.config/htop
.config/Thunar
.config/xfce4/xfconf
.config/yay

downloads
fonts
packages
projects