!.gitkeep

.bash_history
.zsh_history

# folders
.cache
.copilot
.dotnet
.gnupg
.local
.npm
.nvm
.oh-my-zsh
.pki
.ssh
.vscode
.wine

.icons/*/*

.config/chromium
.config/Code
.config/dconf
.config/font-manager
.config/fontconfig
.config/go
.config/htop
.config/menus
.config/pulse
.config/spotify
.config/Thunar
.config/xfce4/xfconf
.config/yay

downloads/**
fonts/**
packages/**
projects/**
themes/**